In [1]:
#Create sparksession
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("MySparkApp").master("local[*]").getOrCreate()

In [2]:
sales_df = spark.read.csv("supermarket_sales - Sheet1.csv",header=True)

In [3]:
sales_df.show()

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|     Date| Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|750-67-8428|     A|   Yangon|       Member|Female|   Health and beauty|     74.69|       7|26.1415|548.9715| 1/5/2019|13:08|    Ewallet|522.83|            4.761904762|     26.1415|   9.1|
|226-31-3081|     C|Naypyitaw|       Normal|Female|Electronic access...|     15.28|       5|   3.82|   80.22| 3/8/2019|10:29|       Cash|  76.4|            4.761904762|        3.82|   9.6|
|631-41-3108|     A|   Yangon|       Normal|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255| 3/3/2019|13:23|Credit card|324.31|            4.761904762|     16.2155|   7.4|
|123-19-1176|     A|   Yangon|       Member|  Male|   Health and beauty|     58.22|       8| 23.288| 489.048|1/27/2019|20:33|    Ewallet|465.76|            4.761904762|      23.288|   8.4|
|373-73-7910|     A|   Yangon|       Normal|  Male|   Sports and travel|     86.31|       7|30.2085|634.3785| 2/8/2019|10:37|    Ewallet|604.17|            4.761904762|     30.2085|   5.3|
|699-14-3026|     C|Naypyitaw|       Normal|  Male|Electronic access...|     85.39|       7|29.8865|627.6165|3/25/2019|18:30|    Ewallet|597.73|            4.761904762|     29.8865|   4.1|
|355-53-5943|     A|   Yangon|       Member|Female|Electronic access...|     68.84|       6| 20.652| 433.692|2/25/2019|14:36|    Ewallet|413.04|            4.761904762|      20.652|   5.8|
|315-22-5665|     C|Naypyitaw|       Normal|Female|  Home and lifestyle|     73.56|      10|  36.78|  772.38|2/24/2019|11:38|    Ewallet| 735.6|            4.761904762|       36.78|     8|
|665-32-9167|     A|   Yangon|       Member|Female|   Health and beauty|     36.26|       2|  3.626|  76.146|1/10/2019|17:15|Credit card| 72.52|            4.761904762|       3.626|   7.2|
|692-92-5582|     B| Mandalay|       Member|Female|  Food and beverages|     54.84|       3|  8.226| 172.746|2/20/2019|13:27|Credit card|164.52|            4.761904762|       8.226|   5.9|
|351-62-0822|     B| Mandalay|       Member|Female| Fashion accessories|     14.48|       4|  2.896|  60.816| 2/6/2019|18:07|    Ewallet| 57.92|            4.761904762|       2.896|   4.5|
|529-56-3974|     B| Mandalay|       Member|  Male|Electronic access...|     25.51|       4|  5.102| 107.142| 3/9/2019|17:03|       Cash|102.04|            4.761904762|       5.102|   6.8|
|365-64-0515|     A|   Yangon|       Normal|Female|Electronic access...|     46.95|       5|11.7375|246.4875|2/12/2019|10:25|    Ewallet|234.75|            4.761904762|     11.7375|   7.1|
|252-56-2699|     A|   Yangon|       Normal|  Male|  Food and beverages|     43.19|      10| 21.595| 453.495| 2/7/2019|16:48|    Ewallet| 431.9|            4.761904762|      21.595|   8.2|
|829-34-3910|     A|   Yangon|       Normal|Female|   Health and beauty|     71.38|      10|  35.69|  749.49|3/29/2019|19:21|       Cash| 713.8|            4.761904762|       35.69|   5.7|
|299-46-1805|     B| Mandalay|       Member|Female|   Sports and travel|     93.72|       6| 28.116| 590.436|1/15/2019|16:19|       Cash|562.32|            4.761904762|      28.116|   4.5|
|656-95-9349|     A|   Yangon|       Member|Female|   Health and beauty|     68.93|       7|24.1255|506.6355|3/11/2019|11:03|Credit card|482.51|            4.761904762|     24.1255|   4.6|
|765-26-6951|     A|   Yangon|       Normal|  Male|   Sports and travel|     72.61|       6| 21.783| 457.443| 1/1/2019|10:39|Credit card|435.66|            4.761904762|      21.783|   6.9|
|329-62-1586|     A|   Yangon|       Normal|  Male|  Food and beverages|     54.67|       3| 8.2005|172.2105|1/21/2019|18:00|Credit card|164.01|            4.761904762|      8.2005|   8.6|
|319-50-3348|     B| Mandalay|       Normal|Female|  Home and lifestyle|      40.3|       2|   4.03|   84.63|3/11/2019|15:30|    Ewallet|  80.6|            4.761904762|        4.03|   4.4|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
only showing top 20 rows

In [4]:
flights_df = spark.read.parquet("flights-1m.parquet")

In [5]:
flights_df.show()

+----------+---------+---------+--------+--------+---------+---------+
|   FL_DATE|DEP_DELAY|ARR_DELAY|AIR_TIME|DISTANCE| DEP_TIME| ARR_TIME|
+----------+---------+---------+--------+--------+---------+---------+
|2006-01-01|        5|       19|     350|    2475| 9.083333|12.483334|
|2006-01-02|      167|      216|     343|    2475|11.783334|15.766666|
|2006-01-03|       -7|       -2|     344|    2475| 8.883333|12.133333|
|2006-01-04|       -5|      -13|     331|    2475| 8.916667|    11.95|
|2006-01-05|       -3|      -17|     321|    2475|     8.95|11.883333|
|2006-01-06|       -4|      -32|     320|    2475| 8.933333|11.633333|
|2006-01-08|       -3|       -2|     346|    2475|     8.95|12.133333|
|2006-01-09|        3|        0|     334|    2475|     9.05|12.166667|
|2006-01-10|       -7|      -21|     334|    2475| 8.883333|11.816667|
|2006-01-11|        8|      -10|     321|    2475| 9.133333|     12.0|
|2006-01-12|       -5|      -27|     321|    2475| 8.916667|11.716666|
|2006-01-13|       -7|       -6|     327|    2475| 8.883333|12.066667|
|2006-01-15|       47|       73|     333|    2475| 9.783334|13.383333|
|2006-01-16|       -4|      -14|     329|    2475| 8.933333|11.933333|
|2006-01-17|       -4|      -11|     337|    2475| 8.933333|11.983334|
|2006-01-18|       -1|        4|     342|    2475| 8.983334|12.233334|
|2006-01-19|       -2|        2|     343|    2475| 8.966666|     12.2|
|2006-01-20|       -3|       -8|     343|    2475|     8.95|12.033334|
|2006-01-22|       -8|       -9|     342|    2475| 8.866667|12.016666|
|2006-01-23|       -4|       -1|     338|    2475| 8.933333|    12.15|
+----------+---------+---------+--------+--------+---------+---------+
only showing top 20 rows

In [6]:
student_df = spark.read.json("Students_Grading_Dataset.json",multiLine=True)

In [7]:
student_df.show()

+---+---------------+--------------+-----------+--------------------+--------------------------+-------------------+-----------+----------+------+-----+-----------------------+---------+-------------+----------------------+-------------------+--------------+-----------+---------------------+-------------------+----------+--------------------+-----------+
|Age|Assignments_Avg|Attendance (%)| Department|               Email|Extracurricular_Activities|Family_Income_Level|Final_Score|First_Name|Gender|Grade|Internet_Access_at_Home|Last_Name|Midterm_Score|Parent_Education_Level|Participation_Score|Projects_Score|Quizzes_Avg|Sleep_Hours_per_Night|Stress_Level (1-10)|Student_ID|Study_Hours_per_Week|Total_Score|
+---+---------------+--------------+-----------+--------------------+--------------------------+-------------------+-----------+----------+------+-----+-----------------------+---------+-------------+----------------------+-------------------+--------------+-----------+---------------------+-------------------+----------+--------------------+-----------+
| 22|          84.22|         52.29|Engineering|student0@universi...|                        No|             Medium|      57.82|      Omar|Female|    F|                    Yes| Williams|        55.03|           High School|               3.99|          85.9|      74.06|                  4.7|                  5|     S1000|                 6.2|      56.09|
| 18|           NULL|         97.27|Engineering|student1@universi...|                        No|             Medium|       45.8|     Maria|  Male|    A|                    Yes|    Brown|        97.23|                  None|               8.32|         55.65|      94.24|                  9.0|                  4|     S1001|                19.0|      50.64|
| 24|           67.7|         57.19|   Business|student2@universi...|                        No|                Low|      93.68|     Ahmed|  Male|    D|                    Yes|    Jones|        67.05|              Master's|               5.05|         73.79|       85.7|                  6.2|                  6|     S1002|                20.7|       70.3|
| 24|          66.06|         95.15|Mathematics|student3@universi...|                       Yes|               High|      80.63|      Omar|Female|    A|                    Yes| Williams|        47.79|           High School|               6.54|         92.12|      93.51|                  6.7|                  3|     S1003|                24.8|      61.63|
| 23|          96.85|         54.18|         CS|student4@universi...|                       Yes|               High|      78.89|      John|Female|    F|                    Yes|    Smith|        46.59|           High School|               5.97|         68.42|       83.7|                  7.1|                  2|     S1004|                15.4|      66.13|
| 21|           71.4|          NULL|Engineering|student5@universi...|                       Yes|               High|      43.53|      Liam|  Male|    B|                    Yes|    Brown|        78.85|                   PhD|               6.38|         67.29|       52.2|                  5.0|                  1|     S1005|                 8.5|      62.08|
| 24|          84.52|          57.6|   Business|student6@universi...|                        No|                Low|      89.07|     Ahmed|  Male|    F|                    Yes|    Jones|        66.26|                  NULL|                2.3|         93.65|       98.4|                  6.4|                  5|     S1006|                21.3|      83.21|
| 19|          80.12|         51.91|Engineering|student7@universi...|                       Yes|             Medium|      73.96|     Ahmed|  Male|    F|                     No|    Smith|        45.67|                  None|               3.73|         93.24|       95.9|                  4.3|                  4|     S1007|                27.3|      81.93|
| 21|          57.05|         85.97|         CS|student8@universi...|                        No|                Low|      90.87|      Omar|Female|    A|                     No|    Smith|        84.42|            Bachelor's|               0.51|         94.01|      56.33|                  8.8|                  9|     S1008|                 8.0|      95.62|
| 22|          96.98|         64.01|Engineering|student9@universi...|                        No|             Medium|      98.47|      Sara|Female|    A|                    Yes|    Smith|        87.96|                  None|               5.88|          78.6|      55.63|                  6.4|                 10|     S1009|                 9.6|      84.99|
| 23|          67.29|         85.72|         CS|student10@univers...|                        No|                Low|      97.43|      John|Female|    A|                    Yes|    Smith|        83.52|           High School|               4.59|         97.62|      76.95|                  4.1|                  1|     S1010|                13.2|      58.25|
| 20|          52.24|         77.75|Engineering|student11@univers...|                        No|                Low|      91.37|      Omar|Female|    C|                    Yes| Williams|        52.14|              Master's|               7.61|         90.95|      87.85|                  7.0|                  9|     S1011|                21.3|      87.58|
| 21|          65.02|         55.44|Engineering|student12@univers...|                        No|               High|      40.66|      John|  Male|    F|                    Yes|    Davis|        81.39|              Master's|               2.06|         70.78|      69.11|                  4.5|                  8|     S1012|                18.1|      59.06|
| 18|          66.78|         96.61|   Business|student13@univers...|                        No|             Medium|      93.14|      John|  Male|    A|                    Yes| Williams|        40.64|                  None|               4.37|         81.48|      56.82|                  7.9|                 10|     S1013|                22.8|      77.93|
| 19|          54.64|         72.62|Engineering|student14@univers...|                        No|                Low|       44.5|      Liam|  Male|    B|                    Yes| Williams|        58.31|                  None|               1.81|         56.09|      75.53|                  8.8|                  4|     S1014|                 5.8|      53.85|
| 18|           81.0|         86.72|         CS|student15@univers...|                        No|               High|      91.07|     Ahmed|  Male|    A|                    Yes|    Jones|        63.93|                  None|               6.14|         77.57|      66.88|                  8.6|                  2|     S1015|                25.3|      52.37|
| 21|          67.34|         75.05|         CS|student16@univers...|                        No|                Low|      56.81|     Maria|Female|    F|                    Yes|    Jones|        90.11|                  None|               8.48|         63.16|      67.59|                  6.1|                  3|     S1016|                29.7|      73.21|
| 23|          81.46|         80.22|   Business|student17@univers...|                        No|             Medium|       76.6|      Liam|Female|    F|                     No|    Davis|        63.42|                   PhD|               7.65|         64.18|      82.25|                  7.6|                 10|     S1017|                 6.2|      55.25|
| 20|          50.34|         65.14|         CS|student18@univers...|                        No|             Medium|      42.28|      Liam|  Male|    B|                    Yes|    Jones|        40.68|                  None|               9.44|         56.29|      94.28|                  4.8|                  9|     S1018|                17.4|      65.33|
| 20|           99.1|         60.02|Engineering|student19@univers...|                       Yes|                Low|      86.27|      John|  Male|    D|                    Yes|  Johnson|        61.14|                   PhD|               9.72|         67.91|      77.93|                  4.4|                 10|     S1019|                23.5|      66.94|
+---+---------------+--------------+-----------+--------------------+--------------------------+-------------------+-----------+----------+------+-----+-----------------------+---------+-------------+----------------------+-------------------+--------------+-----------+---------------------+-------------------+----------+--------------------+-----------+
only showing top 20 rows

## Missing data Handling in PySpark

In [8]:
sales_df.count()

1000

In [9]:
sales_df.dropna(how="any")

DataFrame[Invoice ID: string, Branch: string, City: string, Customer type: string, Gender: string, Product line: string, Unit price: string, Quantity: string, Tax 5%: string, Total: string, Date: string, Time: string, Payment: string, cogs: string, gross margin percentage: string, gross income: string, Rating: string]

In [10]:
sales_df.count()

1000

In [11]:
flights_df.fillna(value=2)

DataFrame[FL_DATE: date, DEP_DELAY: smallint, ARR_DELAY: smallint, AIR_TIME: smallint, DISTANCE: smallint, DEP_TIME: float, ARR_TIME: float]

In [12]:
from pyspark.ml.feature import Imputer
imputer = Imputer(strategy="median",inputCols = ["Attendance (%)"],outputCols = ["Attendance (%) out"])

In [13]:
model = imputer.fit(student_df)
student_df_imputed = model.transform(student_df)

In [14]:
student_df_imputed.show()

+---+---------------+--------------+-----------+--------------------+--------------------------+-------------------+-----------+----------+------+-----+-----------------------+---------+-------------+----------------------+-------------------+--------------+-----------+---------------------+-------------------+----------+--------------------+-----------+------------------+
|Age|Assignments_Avg|Attendance (%)| Department|               Email|Extracurricular_Activities|Family_Income_Level|Final_Score|First_Name|Gender|Grade|Internet_Access_at_Home|Last_Name|Midterm_Score|Parent_Education_Level|Participation_Score|Projects_Score|Quizzes_Avg|Sleep_Hours_per_Night|Stress_Level (1-10)|Student_ID|Study_Hours_per_Week|Total_Score|Attendance (%) out|
+---+---------------+--------------+-----------+--------------------+--------------------------+-------------------+-----------+----------+------+-----+-----------------------+---------+-------------+----------------------+-------------------+--------------+-----------+---------------------+-------------------+----------+--------------------+-----------+------------------+
| 22|          84.22|         52.29|Engineering|student0@universi...|                        No|             Medium|      57.82|      Omar|Female|    F|                    Yes| Williams|        55.03|           High School|               3.99|          85.9|      74.06|                  4.7|                  5|     S1000|                 6.2|      56.09|             52.29|
| 18|           NULL|         97.27|Engineering|student1@universi...|                        No|             Medium|       45.8|     Maria|  Male|    A|                    Yes|    Brown|        97.23|                  None|               8.32|         55.65|      94.24|                  9.0|                  4|     S1001|                19.0|      50.64|             97.27|
| 24|           67.7|         57.19|   Business|student2@universi...|                        No|                Low|      93.68|     Ahmed|  Male|    D|                    Yes|    Jones|        67.05|              Master's|               5.05|         73.79|       85.7|                  6.2|                  6|     S1002|                20.7|       70.3|             57.19|
| 24|          66.06|         95.15|Mathematics|student3@universi...|                       Yes|               High|      80.63|      Omar|Female|    A|                    Yes| Williams|        47.79|           High School|               6.54|         92.12|      93.51|                  6.7|                  3|     S1003|                24.8|      61.63|             95.15|
| 23|          96.85|         54.18|         CS|student4@universi...|                       Yes|               High|      78.89|      John|Female|    F|                    Yes|    Smith|        46.59|           High School|               5.97|         68.42|       83.7|                  7.1|                  2|     S1004|                15.4|      66.13|             54.18|
| 21|           71.4|          NULL|Engineering|student5@universi...|                       Yes|               High|      43.53|      Liam|  Male|    B|                    Yes|    Brown|        78.85|                   PhD|               6.38|         67.29|       52.2|                  5.0|                  1|     S1005|                 8.5|      62.08|             75.67|
| 24|          84.52|          57.6|   Business|student6@universi...|                        No|                Low|      89.07|     Ahmed|  Male|    F|                    Yes|    Jones|        66.26|                  NULL|                2.3|         93.65|       98.4|                  6.4|                  5|     S1006|                21.3|      83.21|              57.6|
| 19|          80.12|         51.91|Engineering|student7@universi...|                       Yes|             Medium|      73.96|     Ahmed|  Male|    F|                     No|    Smith|        45.67|                  None|               3.73|         93.24|       95.9|                  4.3|                  4|     S1007|                27.3|      81.93|             51.91|
| 21|          57.05|         85.97|         CS|student8@universi...|                        No|                Low|      90.87|      Omar|Female|    A|                     No|    Smith|        84.42|            Bachelor's|               0.51|         94.01|      56.33|                  8.8|                  9|     S1008|                 8.0|      95.62|             85.97|
| 22|          96.98|         64.01|Engineering|student9@universi...|                        No|             Medium|      98.47|      Sara|Female|    A|                    Yes|    Smith|        87.96|                  None|               5.88|          78.6|      55.63|                  6.4|                 10|     S1009|                 9.6|      84.99|             64.01|
| 23|          67.29|         85.72|         CS|student10@univers...|                        No|                Low|      97.43|      John|Female|    A|                    Yes|    Smith|        83.52|           High School|               4.59|         97.62|      76.95|                  4.1|                  1|     S1010|                13.2|      58.25|             85.72|
| 20|          52.24|         77.75|Engineering|student11@univers...|                        No|                Low|      91.37|      Omar|Female|    C|                    Yes| Williams|        52.14|              Master's|               7.61|         90.95|      87.85|                  7.0|                  9|     S1011|                21.3|      87.58|             77.75|
| 21|          65.02|         55.44|Engineering|student12@univers...|                        No|               High|      40.66|      John|  Male|    F|                    Yes|    Davis|        81.39|              Master's|               2.06|         70.78|      69.11|                  4.5|                  8|     S1012|                18.1|      59.06|             55.44|
| 18|          66.78|         96.61|   Business|student13@univers...|                        No|             Medium|      93.14|      John|  Male|    A|                    Yes| Williams|        40.64|                  None|               4.37|         81.48|      56.82|                  7.9|                 10|     S1013|                22.8|      77.93|             96.61|
| 19|          54.64|         72.62|Engineering|student14@univers...|                        No|                Low|       44.5|      Liam|  Male|    B|                    Yes| Williams|        58.31|                  None|               1.81|         56.09|      75.53|                  8.8|                  4|     S1014|                 5.8|      53.85|             72.62|
| 18|           81.0|         86.72|         CS|student15@univers...|                        No|               High|      91.07|     Ahmed|  Male|    A|                    Yes|    Jones|        63.93|                  None|               6.14|         77.57|      66.88|                  8.6|                  2|     S1015|                25.3|      52.37|             86.72|
| 21|          67.34|         75.05|         CS|student16@univers...|                        No|                Low|      56.81|     Maria|Female|    F|                    Yes|    Jones|        90.11|                  None|               8.48|         63.16|      67.59|                  6.1|                  3|     S1016|                29.7|      73.21|             75.05|
| 23|          81.46|         80.22|   Business|student17@univers...|                        No|             Medium|       76.6|      Liam|Female|    F|                     No|    Davis|        63.42|                   PhD|               7.65|         64.18|      82.25|                  7.6|                 10|     S1017|                 6.2|      55.25|             80.22|
| 20|          50.34|         65.14|         CS|student18@univers...|                        No|             Medium|      42.28|      Liam|  Male|    B|                    Yes|    Jones|        40.68|                  None|               9.44|         56.29|      94.28|                  4.8|                  9|     S1018|                17.4|      65.33|             65.14|
| 20|           99.1|         60.02|Engineering|student19@univers...|                       Yes|                Low|      86.27|      John|  Male|    D|                    Yes|  Johnson|        61.14|                   PhD|               9.72|         67.91|      77.93|                  4.4|                 10|     S1019|                23.5|      66.94|             60.02|
+---+---------------+--------------+-----------+--------------------+--------------------------+-------------------+-----------+----------+------+-----+-----------------------+---------+-------------+----------------------+-------------------+--------------+-----------+---------------------+-------------------+----------+--------------------+-----------+------------------+
only showing top 20 rows

## Data Cache and Performance improvement

In [15]:
sales_df.cache()

DataFrame[Invoice ID: string, Branch: string, City: string, Customer type: string, Gender: string, Product line: string, Unit price: string, Quantity: string, Tax 5%: string, Total: string, Date: string, Time: string, Payment: string, cogs: string, gross margin percentage: string, gross income: string, Rating: string]

In [17]:
import pandas as pd

In [19]:
p_df = pd.DataFrame({'id':[1,2,3], 'value':[10,20,30]})
df_spark = spark.createDataFrame(p_df)
pdf_new = df_spark.toPandas()

In [20]:
print(type(df_spark))
print(type(pdf_new))

<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pandas.core.frame.DataFrame'>